$button-confirm: #007BFF;
$button-cancel: #E9ECEF;
$button-delete: #CB3656;
$button-cancel: #C4183C;
$button-apply: #17C671;
$button-change: #818EA3;
$search-color:#CACEDB;
$main-white: #FFFFFF;
$border-auth: #BECAD6;
$placeholder-auth: #3D5170;
$border-auth_hover: #3D5170;
$base-font_color: #3D5170;
$auth-label: #495057;
$download-font-color:#495057;
$download-background-color:#E9ECEF;
$button-grey:#E9ECEF;
$error: #FF6347FF;
$icon: #CACEDB;
$hover: #20ce88;
$main-green:#20ce88;
$main-blue:#007BFF;
$box-shadow: #E1E5EB;
$box-shadow_nav:#5A61691C;
$box-shadow_footer: #D7DAE3;
$notification: #C4183C;
$notification-bell: #818EA3;
$card-category: #818EA3;
$header-border: #CACEDB;
$background-orders: #F5F6F8;
$uncle: #ABB6BF;
$username: #5A6169;
$select: #868E96;
$main-gray: #999999;
$main-black: #121212;
$font-color-grey: #5A6169;
$font-color-grey_light: #868E96;
$font-color-grey_lightMax:#CACEDB;
$neutral-border: #BECAD6;
$header-elem-bottom: #E0E2E8;

